* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#000000, #363636);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  padding: 100px;
  padding-bottom: 250px;
}

input {
  height: 35px;
}

h1 {
  margin-bottom: 75px;
}

.botoes {
  margin-top: 20px;
}

.display {
  height: 100px;
}